{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}

{% block style %}

     <style>
        .login_style {
          width:500px;
          margin:auto;
    
            }
            .link-style {
            text-decoration: none;
            color:white
        }
        
        .link-style:hover {
        
            text-decoration: none;
            color:gray;
        
        }
  </style>

{% endblock %}

{% block body %}

<div class="container mt-4 login_style">
    <h1>Login User</h1>

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form | crispy}}
        
        <input type="hidden" name="next" value="{{next}}">
        <input type="submit" value="login" class="btn btn-success">

    </form>

    <div class="row mt-4">SignIn using</div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary">
          <a class="link-style" href="{% url 'social:begin' 'facebook' %}">Facebook</a>

        </button>
      </div>

       <div class="col">
        <button class="btn btn-danger">
          <a class="link-style" href="{% url 'social:begin' 'github' %}">Github</a>

        </button>
      </div>

       <div class="col">
        <button class="btn btn-warning">
          <a class="link-style" href="{% url 'social:begin' 'linkedin-oauth2' %}">Linkedin</a>

        </button>
      </div>

    </div>

</div>

{% endblock %}