{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Change {% endblock %}

{% block style %}
<style>
    .register_style{
        width: 500px;
        margin: auto;
    }
</style>
{% endblock %}

{% block body %}

    <div class="container mt-5 register_style">
        <h3> Change Your Password </h3>
        <form accept="" method="post" novalidate>
            {% csrf_token %}
            {{form | crispy}}

            <input type="submit" value="Change Password" class="btn btn-success">

        </form>
    </div>

{% endblock %}